
DATABASE_URL="mongodb+srv://dineth550:20021213@studentms.q45in7h.mongodb.net/eduvibe"
NEXTAUTH_SECRET="your-nextauth-secret-key"
NEXTAUTH_URL="http://localhost:3000"

# Google Calendar API (for Meet links)
GOOGLE_CLIENT_EMAIL="your_service_account_email"
GOOGLE_PRIVATE_KEY="your_service_account_private_key"

OPENAI_API_KEY="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"